.gris-inte{
	color: $gris-integracion;
}

.azul-inte{
	color: $azul-integracion;
}

.negro-inte{
	color: $negro-integracion;
}

.morado-inte{
	color: $morado-integracion;
}

.fucsia-inte{
	color: $fucsia-integracion;
}

.rosa-inte{
	color: $rosa-integracion;
}

.blanco-inte{
	color: $blanco-integracion;
}

.integracion-line{
	background: $fucsia-integracion;
}

.navbar.navbar-integracion{
	background: $morado-integracion;
}

